{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "flow"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
